/*Variables to be used throughout the site*/

:root {
  --main: #313841;
  --lighter: #4d5866;
  --darker: #252b33;
  --light: #EAEAE8;
  --highlight: #ff69b4

}



/*Typography*/

@font-face {
  font-family:"Moderat Bold";
  src:url("../fonts/Moderat Bold.otf");
}

@font-face {
  font-family:"Moderat Regular";
  src:url("../fonts/Moderat Regular.otf");
}

html {
  font-family:"Moderat Regular";
  color: var(--main)
}

body{
  max-width: 1500px
}

h1 {
letter-spacing: 0.25em;
}
h3{
  color: var(--lighter)
}

p {
  line-height: 1.5em
}

.about-us-text a, #contact a {
  color: var(--darker);
  text-decoration: none;
  font-weight: 600;
}

.about-us-text a:hover, #contact a:hover{  color: var(--highlight);
  /*background: var(--highlight)*/
}

.about-us-text, .event-text{
  max-width: 600px
}

.sold-out{
  text-decoration: line-through;
}

.soldoutDiv{
  display: flex;
  flex-direction: row;
}

.soldoutDiv p {
  margin-top: 1.5em;
  margin-left: 2em;
}

.eventDetails p {
  font-weight: 200;
  line-height: 1em;
  margin: 0;
  color: var(--lighter)
}

#content-body{
  position:absolute;
  top: 60vh;
  width: 100%
}

.padding{
  padding: 0 6%
}



@media(max-width:800px){
  #contactBox > * {
    width: 100%
  }
  textarea, input{
    width: 100%
  }
  #map{
    margin-top: 2em
  }



}

hr {
  margin: 1em 0;
  color: var(--main)


}



@media(min-width:800px){
  #contactBox > * {
    width: 50%
  }
  textarea{
    width: 90%
  }

  input{
    width: 75%
  }

}



#contact{
  margin-top: 2em
}

.footer {
  text-align: right;
  color: var(--light);
  background: var(--main);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em
}

#contact-form{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: -1.5em
}

#contactBox{
  display: flex;
  flex-wrap: wrap;
  min-height: 400px
}

#map{
  min-height: 400px;
  margin-bottom: 1em
}

#bodyContent p{
  margin: 0
}



#content-body{
  background:var(--light)
}

.form-label{
  display: none
}

.form-field{
  margin-top: 1.5em
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid{

border-color: var(--highlight);
}



#content-body{
  border-top: 1px solid var(--main)
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: var(--highlight);
    color: #fff;
  margin-top: 1.5em}

.home-menu{
  background: white
}

.home-subtitle{
  text-align: center;
  background: var(--main);
  color: var(--light);
  padding: 1em
}

.home-title{
  text-align: center;
}

.headerimage{
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  width: 100%;
  background-position: right bottom;
  margin-top: 36px
}

.headerimage div {
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
  border: 3px solid var(--main);
  padding: 0 1em;
  background: rgba(255,255,255,0.4)
}
