/*Variables to be used throughout the site*/

:root {
  --main: #313841;
  --lighter: #4d5866;
  --darker: #252b33;
  --light: #EAEAE8;
  --highlight: #ff69b4

}





/*Typography*/

@font-face {
  font-family:"Moderat Bold";
  src:url("../fonts/Moderat Bold.otf");
}

@font-face {
  font-family:"Moderat Regular";
  src:url("../fonts/Moderat Regular.otf");
}

html {
  font-family:"Moderat Regular";
  color: var(--main)
}

body{
  max-width: 1500px
}

h1 {
font-family: 'Moderat Bold';
letter-spacing: 0.25em;
}
h3{
  color: var(--lighter)
}

p {
  line-height: 1.5em
}

a {
  cursor: pointer
}

html{
  cursor:
}

.about-us-text a, #contact a {
  color: var(--darker);
  text-decoration: none;
  font-weight: 600;
}

.about-us-text a:hover, #contact a:hover{  color: var(--highlight);
  /*background: var(--highlight)*/
}

.about-us-text, .event-text{
  max-width: 600px;
  text-align: justify;

}

.about-us-text img, .event-text img{
  max-width: 100%;
  height: auto;
  display: block;

}

.sold-out{
  text-decoration: line-through;
}

.soldoutDiv{
  display: flex;
  flex-direction: row;
}

.soldoutDiv p {
  margin-top: 1.5em;
  margin-left: 2em;
}

.eventDetails p {
  font-weight: 200;
  line-height: 1em;
  margin: 0;
  color: var(--lighter)
}

#content-body{
  position:absolute;
  width: 100%
}

.padding{
  padding: 0 6%
}



@media(max-width:800px){
  #contactBox > * {
    width: 100%
  }
  textarea, input{
    width: 100%
  }
  #map{
    margin-top: 2em
  }

  .headerimage h1{

    font-size: 2.5em;
}



}

hr {
  margin: 1em 0;
  color: var(--main)


}



@media(min-width:800px){
  #contactBox > * {
    width: 50%
  }
  textarea{
    width: 90%
  }

  input{
    width: 75%
  }

  .headerimage h1{

    font-size: 5em;
}
}



#contact{
  margin-top: 2em;
  border-top: var(--main) 2px solid;
  padding-top: 2em
}

.footer {
  text-align: right;
  color: var(--light);
  background: var(--main);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em
}

.footer h2 {
  text-align: center
}

#contact-form{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: -1.5em
}

#contactBox{
  display: flex;
  flex-wrap: wrap;
  min-height: 400px
}

#contactBox div p {
  margin: 0.5em
}

#map{
  min-height: 400px;
  margin-bottom: 1em
}

#bodyContent p{
  margin: 0
}



#content-body{
  background:var(--light)
}

.form-label{
  display: none
}

.form-field{
  margin-top: 1.5em
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid{

border-color: var(--highlight);
}



#content-body{
  border-top: 1px solid var(--main)
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: var(--highlight);
    color: #fff;
  margin-top: 1.5em}

.home-menu{
  background: white
}

.home-subtitle{
  text-align: center;
  background: var(--main);
  color: var(--light);
  padding: 1em
}

.home-title{
  text-align: center;
}



@media (max-height: 700px){

.headerimage{
  height: 450px !important
}

#content-body{
  top: 450px !important
}

}

@media (min-height: 700px){

.headerimage{
  height: 75vh
}

#content-body{
  top: 75vh
}

}

.headerimage{
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  width: 100%;
  background-position: right bottom;
  margin-top: 36px;
  display: flex;
  align-items: flex-start;
  justify-content: center
}

.headerimage div {
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
}

.headerimage div * {
  text-align: center
}

.headerimage h1 {
  line-height: 2em;
}



.navigationLogo img {
  height: 25px;
  padding: 3px

}

.pure-menu-list{
  margin-top: 7px
}


.navigationLogo {
  display: inline-block;
}

.darkheader {

/*-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--light);*/

}


.lightheader{

color: var(--light);
/*-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: var(--main);*/

}

.headerBackground{
  background: rgba(255,255,255,0.3);
  padding: 3%;
  border-radius: 25px
}

.pinkheader{
  color: var(--highlight)
}
